body{
	margin: 0;
	padding: 0;
	
}

header {
	width: 100%;
	height: 100%;
	flex-direction: row;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	position: fixed;
	z-index: 4;
	width: 100%;
}

ul { 
	display: flex;
	justify-content: center;
	align-items: center;
	
}

a {
	text-decoration: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	color: #00416d;
	border: 1px solid #00416d ; 
	width: 116px;
	height: 30px;
	background-color: #fff;
	text-decoration: none;	
	margin: 20px;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.imagem1 {
	width: 60%;
	height: 40%;
}

.home p {
	width: 20%;
	height: 40%;
	font-size: 0.94em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;

}

.sobre {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 2.5%;
	margin-top: 10%;
}

.imagem2 {
	width: 100%;
	height: 100%;
}

.sobre div {
	position: absolute;
    z-index: 3;
    top: 10%;
    left: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid #00416d;
    background-color: #fff;
    text-decoration: none;
    width: 30%;
    height: 70%;
    padding: 1%;
    font-size: 0.9em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
}

.sobre div h2 {
	font-size: 1.61em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	margin: 0;
}

.sobre div p {
	color:  #95989a;
	font-style: normal;
	text-align: left;
	font-size: 0.9em;
	font-family: 'Source Sans Pro', sans-serif;
}

.ações {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	margin-top: 2.5%;
}

.ações h2 {
	position: relative;
	left: -40%;
	font-size: 1.61em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	margin: 0;
}

.conteinerações1 {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}

.blocoações1 {
	align-self: flex-start;
	width: 30%;
	height: 60%;
	padding: 1%;
	margin-right: 5%;
}

.blocoações1 h3 {
	font-size: 1.30em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	margin: 0;
}

.blocoações1 p {
	color:  #95989a;
	font-style: normal;
	text-align: left;
	font-size: 0.9em;
	font-family: 'Source Sans Pro', sans-serif;
}

video {
	width: 50%;
	height: ;
}

.conteinerações2 {
	display: flex;
	padding: 4%;
	justify-content: center;
	align-content: center;
}

.blocoações2 {
	width: 35%;
	height: 40%;
	margin-left: 2%;
	padding: 1%;
}

.blocoações2 h3 {
	font-size: 1.30em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	margin: 0;
}

.blocoações2 p {
	color:  #95989a;
	font-style: normal;
	text-align: left;
	font-size: 0.9em;
	font-family: 'Source Sans Pro', sans-serif;
}

.imagem3 {
	width: 100%;
}

.blocoações3 {
	width: 35%;
	height: 60%;
	margin-left: 2%;
	padding: 1%;
}

.blocoações3 h3 {
	font-size: 1.30em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	margin: 0;
}

.blocoações3 p {
	color:  #95989a;
	font-style: normal;
	text-align: left;
	font-size: 0.9em;
	font-family: 'Source Sans Pro', sans-serif;
}

.imagem4 {
	width: 100%;
}

.contato {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	width: 100%;
	height: 100%;
}

.imagem5 {
	width: 100%;
	height: 100%;
}

.conteinercontato1 {
	display: flex;
    position: absolute;
    left: 60%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid #00416d;
    background-color: #fff;
    text-decoration: none;
    width: 23%;
    height: 30%;
    padding: 1%;
    font-size: 0.8em;
}

.conteinercontato1 h2 {
	font-size: 1.61em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #95989a;
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	margin: 0;
}

.conteinercontato1 p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	margin: 0;
}

.blococontato {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 5%;
}

.itemcontato1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.itemcontato2 p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.25em;
	color: #95989a;
	font-style: normal;
	text-align: left;
	line-height: 1.07em;
	letter-spacing: 0em;
	margin: 0;
}

.imagem6 {
	width: 40%;
}

@media only screen and (max-width: 1310px){
	
	.home {
		padding-top: 2%;
	}

	li {
		width: 100px;
		height: 28px;
	}

	.sobre div {
		top: 10%;
		width: 37%;
	    height: 70%;
	    font-size: 0.9em;
		
	}

	.sobre div h2 {
		font-size: 1.61em;
	}

	.sobre div p {
		color:  #95989a;
		font-style: normal;
		text-align: left;
		font-family: 'Source Sans Pro', sans-serif;
	}
}


@media (max-width: 1180px){
	
	.home {
		padding-top: 7%;
	}

	.imagem1 {
		max-width: 50%;
		height: 35%;
	}

	.sobre div {
		left: 52.5%;
		width: 42.5%;
	    height: 75%;
	}

	.sobre div h2 {
		font-size: 1.50em;
	}

	.sobre div p {
		font-size: 0.85em;
	}
}

@media ( max-width: 980px) {

	.home p {
		font-size: 0.85em;
	}

	.sobre div {
		top: 2.5%;
		left: 47%;
		width: 47%;
	    height: 90%;
	}

	.sobre div p {
		font-size: 0.82em;
	}

	
}

@media ( max-width: 840px) {

	.sobre div {
		left: 35%;
		width: 60%;
	}
}
